job.run_test('zcbtb', test='1/boot-order.sh',
                 tag='1-boot-order.sh')
job.run_test('zcbtb', test='1/ddsnap_autodelete.sh',
                 tag='1-ddsnap_autodelete.sh')
job.run_test('zcbtb', test='1/ddsnap-kernel.sh',
                 tag='1-ddsnap-kernel.sh')
job.run_test('zcbtb', test='1/ddsnap_msg.sh',
                 tag='1-ddsnap_msg.sh')
job.run_test('zcbtb', test='1/snapshot-ddsnap.sh',
                 tag='1-snapshot-ddsnap.sh')
job.run_test('zcbtb', test='1/snapshot-zumastor-ext2.sh',
                 tag='1-snapshot-zumastor-ext2.sh')
job.run_test('zcbtb', test='1/snapshot-zumastor-ext3.sh',
                 tag='1-snapshot-zumastor-ext3.sh')
job.run_test('zcbtb', test='1/snapshot-zumastor-jfs.sh',
                 tag='1-snapshot-zumastor-jfs.sh')
job.run_test('zcbtb', test='1/snapshot-zumastor-lvm-ext3-resize.sh',
                 tag='1-snapshot-zumastor-lvm-ext3-resize.sh')
job.run_test('zcbtb', test='1/snapshot-zumastor-reiserfs.sh',
                 tag='1-snapshot-zumastor-reiserfs.sh')
job.run_test('zcbtb', test='1/snapshot-zumastor-revert.sh',
                 tag='1-snapshot-zumastor-revert.sh')
job.run_test('zcbtb', test='1/snapshot-zumastor-xfs-2045G.sh',
                 tag='1-snapshot-zumastor-xfs-2045G.sh')
job.run_test('zcbtb', test='1/snapshot-zumastor-xfs-lvm-5T.sh',
                 tag='1-snapshot-zumastor-xfs-lvm-5T.sh')
job.run_test('zcbtb', test='1/zero-zumastor.sh',
                 tag='1-zero-zumastor.sh')
job.run_test('zcbtb', test='1/zumastor_autodelete.sh',
                 tag='1-zumastor_autodelete.sh')
job.run_test('zcbtb', test='1/zumastor-symlink-stores.sh',
                 tag='1-zumastor-symlink-stores.sh')
